<html>
    <head>
        <title>Site Blocked</title>

        <style>
            .content {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 400px;
                height: 300px;
            }
        </style>
    </head>
    <body>
        <div class="content">
            <h1>This site has been blocked by your administrator.</h1>
            <p>Contact your administrator to request an exception.</p>
        </div>
    </body>
</html>